@import "../../abstract/variables";
@import "../../abstract/_helpers.scss";

header {
  &.site {
    nav {
      @include flex("0 0 auto");
      justify-content: space-between;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        &.brand {
          background-color: var(--md-sys-color-primary);
          color: var(--md-sys-color-on-primary);

          a {
            display: block;
            color: var(--md-sys-color-on-primary);
            text-decoration: none;
            font-family: var(--md-sys-typescale-title-medium-font);
            font-size: var(--md-sys-typescale-title-medium-size);
            font-weight: var(--md-sys-typescale-title-medium-weight);
            line-height: var(--md-sys-typescale-title-medium-line-height);
            padding: var(--md-sys-spacing-10) var(--md-sys-spacing-12);
          }

          span {
            display: none;

            @include for-tablet-up {
              display: inline;
            }
          }
        }

        &.nav {
          @include flex("0 0 auto");
          align-content: center;
          margin-right: var(--md-sys-spacing-6);
        }

        li {
          &.nav-link-3 { // Contact
            a {
              color: darken($color-link, 25%);
            }
          }

          &.active {
            a {
              text-decoration: none;
              color: var(--md-sys-color-link-active);
            }
          }

          a {
            padding: 0 var(--md-sys-spacing-2);
            font-family: var(--md-sys-typescale-label-large-font);
            font-size: var(--md-sys-typescale-label-large-size);
            font-weight: var(--md-sys-typescale-label-large-weight);
            line-height: var(--md-sys-typescale-label-large-line-height);
            letter-spacing: var(--md-sys-typescale-label-large-tracking);

            @include for-desktop-up {
              font-size: var(--md-sys-typescale-title-medium-size);
              line-height: var(--md-sys-typescale-title-medium-line-height);
            }
          }
        }
      }
    }
  }
}
