<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "header.html" . }}
<body class="theme-dark">

{{ partial "navigation.html" . }}

<main class="container curriculum-vitae">
    <section role="article">
        {{ .Content }}
        {{ with .Site.Params.resumeURL }}
        <a href="{{ . }}" class="cv-download" rel="noopener" target="_blank">Download CV</a>
        {{ end }}
    </section>

    <section class="cv-block" role="list">
        <h2 id="employment">Employment</h2>
        {{ range where (sort $.Site.Data.jobs "weight" "desc") ".type" "employment" }}
            {{ partial "job" . }}
        {{ end }}
    </section>

    <section class="cv-block" role="list">
        <h2 id="freelance">Freelance</h2>
        {{ range where (sort $.Site.Data.jobs "weight" "desc") ".type" "contract" }}
            {{ partial "job" . }}
        {{ end }}
    </section>
</main>

{{ partial "footer.html" . }}

</body>
</html>
