@import "../../abstract/variables";
@import "../../abstract/helpers";

.job {
  margin: rem(24) 0 rem(48);

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  h2 {
    font-size: rem(20);
    line-height: rem(28);
    font-weight: bold;
    margin: 0;

    span {
      font-weight: normal;
    }

    em {
      font-size: rem(14);
    }
  }

  .tech {
    font-size: rem(14);
    font-style: italic;

    span {
      font-style: normal;
    }
  }

  p {
    margin: rem(16) 0 rem(12) rem(16);

    &:before {
      content: "·";
      font-size: rem(18);
      font-weight: bold;
      vertical-align: top;
      margin: 0 rem(8) 0 rem(-16);
    }
  }
}
