<footer class="site" role="contentinfo">
    <div>
        <p>
            &copy; 2004-{{ dateFormat "2006" now }} Daniel Tlach, Design by
            <a href="https://cz.linkedin.com/in/moserlukas">Lukáš Moser</a>,
            All rights preserved in formaldehyde.
        </p>
    </div>
</footer>
<!-- Google Fonts -->
<link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin/>
<link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400,600,700&family=Overpass:ital,wght@400,600,700;400,600,700&display=swap"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400,600,700&family=Overpass:ital,wght@400,600,700;400,600,700&display=swap"
      media="print" onload="this.media='all'"/>
