<div class="job">
    <header>
        <h2>
            {{ .title }}
            {{ if .website }}
                <span>/ <a href="{{ .website }}" rel="noopener">{{ .company | markdownify }}</a></span>
            {{ else }}
                <span>/ {{ .company | markdownify }}</span>
            {{ end }}
        </h2>
        <div>
            {{ dateFormat "January 2006" .range.start }}
            {{ if .range.end }}
            - {{ dateFormat "January 2006" .range.end }}
            {{ end }}
            {{ if .range.current }}
            - Present
            {{ end }}
        </div>
    </header>

    {{ if .description }}
    <p>{{ .description | plainify | safeHTML }}</p>
    {{ end }}

    {{ if .technologies }}
    <div class="tech">
        <span>Worked with:</span>
        {{ range sort .technologies "" "asc" }}
            <span class="badge {{ lower . }}">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
</div>
